/**
* Layout CSS file for CAOS project.
* Any CSS classes not beginning with ".ui-" should go here.
*/
/**
 * @file
 * Positioning for a fixed-width, desktop-centric layout.
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
.icon-arrow-right-dark {
  background: url('../images/sprite.png') no-repeat 0 -34px;
  width: 12px;
  height: 18px;
}

.icon-arrow-right-light {
  background: url('../images/sprite.png') no-repeat 0 0;
  width: 12px;
  height: 18px;
}

.icon-arrow-down {
  background: url('../images/sprite.png') no-repeat -22px 0;
  width: 29px;
  height: 12px;
}

.icon-arrow-up {
  background: url('../images/sprite.png') no-repeat -22px -35px;
  width: 29px;
  height: 12px;
}

#wrap {
  position: relative;
  left: 0px;
}

/*
 * Center the page.
 */
.container {
  /* If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. */
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  width: 960px;
  *position: relative;
  *zoom: 1;
}
.container:before, .container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}

#left-sidebar,
.application-status.portrait {
  float: left;
  width: 220px;
  margin-left: 0px;
  margin-right: -240px;
}

.header-left,
.banner-left {
  float: left;
  width: 700px;
  margin-left: 0px;
  margin-right: -720px;
}

#content,
#messages {
  float: left;
  width: 460px;
  margin-left: 240px;
  margin-right: -720px;
}

#content .col-1 {
  float: left;
  width: 220px;
  margin-left: 0px;
  margin-right: -240px;
}
#content .col-2 {
  float: left;
  width: 220px;
  margin-left: 240px;
  margin-right: -480px;
}

#top-right,
#right-sidebar,
#key-dates {
  float: left;
  width: 220px;
  margin-left: 720px;
  margin-right: -960px;
}

.banner-full,
#content-bottom {
  clear: left;
  float: left;
  width: 940px;
  margin-left: 0px;
  margin-right: -960px;
}

#header {
  background: white;
  width: 100%;
  position: relative;
}
#header #logo {
  float: left;
  margin: 17px 0 0 10px;
}
#header #logo a img {
  border: 0;
}
#header #logo .portrait {
  display: block;
}
#header #logo .landscape {
  display: none;
}
#header #top-right {
  float: left;
}
#header #top-right #top-links {
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  background-color: #E3E3E3;
  padding-left: 10px;
}
#header #top-right #top-links a {
  color: #555555;
  margin-right: 10px;
  font-weight: bold;
}
#header #top-right #user-functions {
  padding: 10px 0 0px 20px;
  height: 94px;
  background-color: #EDEDED;
  color: #555555;
}
#header #top-right #user-functions p {
  margin: 5px 0;
}
#header #top-right #user-functions #welcome-message {
  font-size: 16px;
}
#header #top-right #user-functions .ui-button {
  width: auto;
}
#header #top-right #user-functions .ui-state-hover {
  box-shadow: none;
  background: #e3e3e3;
}

@media only screen and (max-width: 959px), only screen and (min-device-width: 768px) and (max-device-width: 959px) {
  #header {
    padding-top: 20px;
  }
  #header #top-right {
    margin: -20px 0 0 0;
  }
  #header #top-right #top-links {
    background: none;
    float: left;
  }
  #header #top-right #top-links a {
    font-weight: normal;
  }
  #header #top-right #user-functions {
    background: none;
    float: right;
    text-align: right;
    line-height: 26px;
    padding: 0;
  }
  #header #top-right #user-functions p {
    display: none;
  }
  #header #top-right #user-functions #welcome-message {
    display: none;
  }
  #header #top-right #user-functions #welcome-message .icon-user {
    display: none;
  }
  #header #top-right #user-functions #welcome-message::after {
    content: ",";
  }
  #header #top-right #user-functions strong {
    font-weight: normal;
  }
  #header #top-right #user-functions a.ui-button {
    background: none;
    padding: 0;
  }
  #header #top-right #user-functions a.ui-button .ui-button-text {
    padding: 0;
    display: inline;
  }
  #header #top-right #user-functions #welcome-message,
  #header #top-right #user-functions p,
  #header #top-right #user-functions a.ui-button {
    font-size: 12px;
    display: inline;
  }
}
@media only screen and (max-width: 767px), only screen and (min-device-width: 650px) and (max-device-width: 767px) {
  #header .container {
    height: 65px;
  }
  #header > .container {
    position: fixed;
    z-index: 9999;
    background-color: #FFF;
  }
  #header .header-left {
    -webkit-box-shadow: #333333 0 0 8px;
    -moz-box-shadow: #333333 0 0 8px;
    box-shadow: #333333 0 0 8px;
    height: 65px;
  }
  #header #top-right {
    width: 100%;
    height: 25px;
    background-color: #FFF;
  }
  #header #top-right #user-functions #welcome-message,
  #header #top-right #user-functions p {
    display: none;
  }
  #header #top-right #user-functions #logout {
    margin: 4px 10px 0 0;
    line-height: 26px;
    display: block;
  }
  #header #logo .portrait {
    display: none;
  }
  #header #logo .landscape {
    display: block;
  }
  #header #banner {
    margin-top: 65px;
  }
  #header #banner .dots {
    min-height: 80px;
  }
}
#content-container {
  background-color: #E1E1E1;
  padding: 20px 0 0 0;
}

@media only screen and (max-width: 959px), only screen and (min-device-width: 768px) and (max-device-width: 959px) {
  #content-container {
    padding: 10px;
  }
}
#footer {
  bottom: 0;
  clear: both;
  overflow: hidden;
  background-color: none;
  padding: 10px 0;
}
#footer ul {
  padding: 0;
  margin: 0;
}
#footer ul li {
  float: left;
  list-style: none;
}
#footer ul li a {
  font-size: 10px;
  color: white;
  margin-right: 10px;
  display: block;
  float: left;
  text-decoration: none;
}

@media only screen and (max-width: 959px), only screen and (min-device-width: 768px) and (max-device-width: 959px) {
  #footer {
    padding: 10px;
  }
}
@media only screen and (max-width: 959px), only screen and (min-device-width: 768px) and (max-device-width: 959px) {
  .container {
    width: 100%;
  }

  .header-left,
  #top-right {
    float: left;
    width: 748px;
    margin-left: 0px;
    margin-right: -768px;
  }

  .banner-left {
    float: left;
    width: 492px;
    margin-left: 0px;
    margin-right: -512px;
  }

  .application-status.portrait {
    float: left;
    width: 236px;
    margin-left: 0px;
    margin-right: -256px;
  }

  #messages {
    float: left;
    width: 236px;
    margin-left: 256px;
    margin-right: -512px;
  }

  #key-dates {
    float: left;
    width: 236px;
    margin-left: 512px;
    margin-right: -768px;
  }

  #left-sidebar {
    clear: left;
    float: left;
    width: 748px;
    margin-left: 0px;
    margin-right: -768px;
  }

  #content {
    clear: left;
    float: left;
    width: 492px;
    margin-left: 0px;
    margin-right: -512px;
  }
  #content .col-1 {
    float: left;
    width: 236px;
    margin-left: 0px;
    margin-right: -256px;
  }
  #content .col-2 {
    float: left;
    width: 236px;
    margin-left: 256px;
    margin-right: -512px;
  }

  #right-sidebar {
    float: left;
    width: 236px;
    margin-left: 512px;
    margin-right: -768px;
  }

  #content-bottom {
    float: left;
    width: 748px;
    margin-left: 0px;
    margin-right: -768px;
  }
}
@media only screen and (max-width: 767px), only screen and (min-device-width: 650px) and (max-device-width: 767px) {
  .container {
    width: 100%;
  }

  .banner-left,
  .application-status.portrait,
  #messages,
  #content,
  #content .col-1,
  #content .col-2,
  #left-sidebar,
  #right-sidebar,
  #key-dates,
  #content-bottom {
    clear: left;
    float: left;
    width: 748px;
    margin-left: 0px;
    margin-right: -768px;
    width: 100%;
  }

  .banner-left,
  #content-bottom {
    padding: 0;
  }
}
body {
  font-size: 12px;
  line-height: 19.2px;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  color: #333333;
  background-color: #333333;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p, li {
  line-height: 16px;
  font-size: 13px;
}

h1 {
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  font-family: 'Helvetica', 'Helvetica Light', Arial, sans-serif;
  font-weight: lighter;
  text-shadow: 0 2px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 26px;
  line-height: 29px;
  color: white;
  font-weight: normal;
  margin: 0 0 10px 0;
  text-shadow: 0 2px rgba(0, 0, 0, 0.3);
}

.right {
  float: right;
  width: 50%;
}

.left {
  float: left;
  width: 50%;
}

.large-text {
  font-size: 16px;
  margin: 15px 0;
}

.red-text {
  color: #df0019;
}

.orange-text {
  color: #FF2400;
}

.dates-list {
  padding: 0;
  margin: 0;
}
.dates-list li {
  list-style: none;
  padding: 5px 0px;
  font-size: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.dates-list li .date {
  font-weight: bold;
  font-size: 14px;
}
.dates-list li a {
  color: white;
}
.dates-list.dark-lines li {
  border-bottom: 1px solid #e3e3e3;
  padding: 10px 0;
}

.faq-list {
  color: #333333;
  padding: 0;
  margin: 0;
}
.faq-list li {
  list-style: none;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(86, 86, 88, 0.3);
}

.fixed-height {
  min-height: 250px;
}

.orange.fixed-height {
  min-height: 125px;
}

.white h2 {
  text-shadow: none;
}

@media only screen and (max-width: 959px), only screen and (min-device-width: 768px) and (max-device-width: 959px) {
  .desktop-hide {
    display: none;
  }

  #left-sidebar .fixed-height {
    min-height: 100%;
  }
}
@media only screen and (max-width: 767px), only screen and (min-device-width: 650px) and (max-device-width: 767px) {
  .tablet-hide {
    display: none;
  }

  .fixed-height {
    min-height: 100%;
  }

  .orange.fixed-height {
    min-height: auto;
  }
}
@media only screen and (max-width: 649px), only screen and (max-device-width: 649px) {
  .mobile-hide {
    display: none;
  }
}
form button,
form input[type="button"],
form input[type="submit"] {
  height: 32px;
}
form .form-row input[type="text"],
form .form-row input[type="password"],
form .form-row input[type="email"],
form .form-row input[type="tel"],
form .form-row input[type="url"],
form .form-row input[type="date"],
form .form-row textarea,
form .form-row select {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15);
  border: 3px solid #e3e3e3;
  padding: 7px;
  display: block;
  font-size: 13px;
  line-height: 18px;
  height: 18px;
  outline: medium none;
  overflow: hidden;
  text-indent: 3px;
  float: left;
  margin-right: 10px;
  box-sizing: content-box;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
form .form-row input[type="text"]:focus,
form .form-row input[type="password"]:focus,
form .form-row input[type="email"]:focus,
form .form-row input[type="tel"]:focus,
form .form-row input[type="url"]:focus,
form .form-row input[type="date"]:focus,
form .form-row select:focus,
form .form-row textarea:focus {
  border: 3px solid #333333;
}
form .form-row textarea {
  overflow: visible;
  min-height: 60px;
}
form .form-row select {
  -webkit-appearance: button;
  line-height: 18px;
  height: 18px;
  padding-right: 40px;
  cursor: pointer;
  box-sizing: content-box;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
form .form-row select::-ms-expand {
  display: none !important;
}
form .form-row input[type="checkbox"],
form .form-row input[type="radio"] {
  display: none;
}
form .form-row input[type="checkbox"] + label,
form .form-row input[type="radio"] + label {
  display: inline-block;
  height: 21px;
  background: url('../images/sprite-forms.png') no-repeat;
  cursor: pointer;
  line-height: 24px;
  text-indent: 30px;
}
form .form-row input[type="checkbox"] + label {
  background-position: -2px -101px;
}
form .form-row input[type="radio"] + label {
  background-position: -2px -2px;
}
form .form-row input[type="checkbox"]:checked + label {
  background-position: -2px -150px;
}
form .form-row input[type="radio"]:checked + label {
  background-position: -2px -51px;
}
form .form-row.error input[type="checkbox"] + label {
  background-position: -2px -126px;
}
form .form-row.error input[type="checkbox"]:checked + label {
  background-position: -2px -175px;
}
form .form-row.error input[type="radio"] + label {
  background-position: -2px -27px;
}
form .form-row.error input[type="radio"]:checked + label {
  background-position: -2px -76px;
}

.text-row,
.form-row {
  clear: both;
  padding: 5px 0;
  overflow: hidden;
  border-bottom: 1px solid #dedede;
}
.text-row .btn-help,
.form-row .btn-help {
  margin: 10px 0 0 0;
}
.text-row .label,
.form-row .label {
  min-height: 7px;
  width: 270px;
  text-align: right;
  display: block;
  float: left;
  line-height: 24px;
  margin: 7px 7px 7px 0;
}
.text-row .two-line,
.form-row .two-line {
  margin: 0 7px 0 0;
  line-height: 20px;
}
.text-row .checkbox-label,
.form-row .checkbox-label {
  float: left;
}
.text-row .input-full-width,
.form-row .input-full-width {
  width: 333px;
}
.text-row .input-full-width.datepicker,
.form-row .input-full-width.datepicker {
  background-position: 318px -512px;
}
.text-row .input-half-width,
.form-row .input-half-width {
  width: 165px;
}
.text-row .input-third-width,
.form-row .input-third-width {
  width: 90px;
}
.text-row .select-full-width,
.form-row .select-full-width {
  display: block;
  float: left;
}
.text-row .select-half-width,
.form-row .select-half-width {
  display: block;
  float: left;
  width: 132px;
  background: url('../images/sprite-forms.png') no-repeat 144px -198px;
}
.text-row .select-half-width:hover,
.form-row .select-half-width:hover {
  background: url('../images/sprite-forms.png') no-repeat 144px -232px;
}
.text-row .select-third-width,
.form-row .select-third-width {
  display: block;
  float: left;
}
.text-row .select-day,
.form-row .select-day {
  width: 30px;
  background: url('../images/sprite-forms.png') no-repeat 42px -198px;
}
.text-row .select-day:hover,
.form-row .select-day:hover {
  background: url('../images/sprite-forms.png') no-repeat 42px -232px;
}
.text-row .select-month,
.form-row .select-month {
  width: 84px;
  background: url('../images/sprite-forms.png') no-repeat 96px -198px;
}
.text-row .select-month:hover,
.form-row .select-month:hover {
  background: url('../images/sprite-forms.png') no-repeat 96px -232px;
}
.text-row .select-year,
.form-row .select-year {
  width: 60px;
  background: url('../images/sprite-forms.png') no-repeat 72px -198px;
}
.text-row .select-year:hover,
.form-row .select-year:hover {
  background: url('../images/sprite-forms.png') no-repeat 72px -232px;
}
.text-row .text,
.form-row .text {
  float: left;
  margin: 7px 7px 7px 0;
  line-height: 24px;
}
.text-row div.radio-group,
.form-row div.radio-group {
  float: left;
}
.text-row div.message,
.form-row div.message {
  font-size: 11px;
  width: 255px;
  color: #565658;
  line-height: 13px;
  float: right;
}
.text-row.terms-and-conditions,
.form-row.terms-and-conditions {
  background: none;
  padding: 10px 0;
}
.text-row.error .feedback span.message,
.form-row.error .feedback span.message {
  color: #df0019;
}
.text-row.error input[type="text"],
.text-row.error input[type="password"],
.text-row.error input[type="email"],
.text-row.error input[type="tel"],
.text-row.error input[type="url"],
.text-row.error input[type="date"],
.text-row.error textarea,
.text-row.error select,
.form-row.error input[type="text"],
.form-row.error input[type="password"],
.form-row.error input[type="email"],
.form-row.error input[type="tel"],
.form-row.error input[type="url"],
.form-row.error input[type="date"],
.form-row.error textarea,
.form-row.error select {
  border: 3px solid #f25f72;
}
.text-row.text-only-center, .text-row.text-only-left, .text-row.text-only-right,
.form-row.text-only-center,
.form-row.text-only-left,
.form-row.text-only-right {
  background: none;
  background-color: #efefef;
  min-height: 0;
  padding: 10px;
}
.text-row.text-only-center p, .text-row.text-only-left p, .text-row.text-only-right p,
.form-row.text-only-center p,
.form-row.text-only-left p,
.form-row.text-only-right p {
  margin: 10px 0;
}
.text-row.text-only-center,
.form-row.text-only-center {
  text-align: center;
}
.text-row.text-only-left,
.form-row.text-only-left {
  text-align: left;
}
.text-row.text-only-right,
.form-row.text-only-right {
  text-align: right;
}
.text-row img,
.form-row img {
  display: block;
  float: left;
  top: 5px;
  position: relative;
}

.text-row {
  background: none;
}
.text-row .label {
  font-weight: bold;
}

.required {
  color: #df0019;
  margin-right: 3px;
}

#content form .left {
  width: 100%;
}
#content form label,
#content form .label {
  width: 150px;
}
#content form .message {
  width: 272px;
}
#content .edit-link {
  float: right;
  line-height: 24px;
  margin: 7px 0 7px 0;
  display: block;
  width: 40px;
  color: #df0019;
}
#content .editable-field {
  line-height: 24px;
  margin: 7px 7px 7px 0;
  float: left;
  display: block;
}
#content .inline-fields {
  margin: 5px 0 0 157px;
}
#content .inline-fields a.btn-save {
  float: left;
  width: auto;
  margin: 5px 0 0 10px;
}
#content .inline-fields a.btn-save .ui-button-text {
  padding: 3px;
  font-size: 12px;
  font-weight: bold;
}
#content .inline-fields a.btn-cancel {
  margin: 8px 0;
  float: left;
  color: #333333;
  clear: left;
}

@media only screen and (max-width: 959px), only screen and (min-device-width: 768px) and (max-device-width: 959px) {
  .form-row,
  .text-row {
    background: none !important;
  }
  .form-row.text-only-center, .form-row.text-only-left,
  .text-row.text-only-center,
  .text-row.text-only-left {
    background: #efefef !important;
  }
  .form-row .left,
  .text-row .left {
    float: none !important;
  }
  .form-row div.message,
  .text-row div.message {
    width: auto !important;
    clear: both;
    float: left;
    margin: 5px 0 0 0;
  }
  .form-row.error div.message,
  .text-row.error div.message {
    color: #df0019;
  }

  .buttons {
    width: 100% !important;
  }

  #content form .label {
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0;
    padding-left: 10px;
  }
  #content form .label .required {
    margin: 0 0 0 -10px;
  }
  #content .edit-link {
    margin-top: 0;
  }
  #content .editable-field {
    margin: 0 0 0 5px;
  }
  #content .inline-fields {
    margin-left: 5px;
  }
}
.countdown.portrait .countdown-text {
  text-shadow: 0 2px rgba(0, 0, 0, 0.3);
}
.countdown.portrait .countdown-text div {
  background-color: #666;
  display: block;
  float: left;
  width: 54px;
  padding: 6px 3px;
  text-align: center;
}
.countdown.portrait .countdown-text div.days, .countdown.portrait .countdown-text div.hours {
  margin-right: 5px;
}
.countdown.portrait .countdown-text div .suffix {
  font-size: 15px;
}
.countdown.portrait .countdown-text div .number {
  font-size: 40px;
  display: block;
  line-height: 40px;
}
.countdown.landscape .label {
  font-size: 26px;
  color: #333;
  float: left;
  line-height: 56px;
  margin: 0 30px;
}
.countdown.landscape .suffix {
  font-size: 30px;
  color: #333;
  float: left;
  line-height: 56px;
  margin-right: 20px;
}
.countdown.landscape .number {
  color: #df0019;
  font-size: 40px;
  line-height: 40px;
  -webkit-box-shadow: #999999 0 0 4px;
  -moz-box-shadow: #999999 0 0 4px;
  box-shadow: #999999 0 0 4px;
  background-color: #FFF;
  display: block;
  float: left;
  padding: 8px 3px;
  text-align: center;
  margin-right: 10px;
}

@media only screen and (max-width: 959px), only screen and (min-device-width: 768px) and (max-device-width: 959px) {
  .countdown.portrait .label,
  .countdown.portrait .countdown-text {
    float: left;
  }
  .countdown.portrait .label {
    margin-right: 20px;
  }
  .countdown.landscape .label {
    line-height: 46px;
  }
  .countdown.landscape .countdown-text .number {
    font-size: 30px;
    line-height: 30px;
    margin-right: 5px;
  }
  .countdown.landscape .countdown-text .suffix {
    font-size: 20px;
    line-height: 46px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 767px), only screen and (min-device-width: 650px) and (max-device-width: 767px) {
  .countdown.landscape .label {
    margin: 0;
  }
  .countdown.landscape .countdown-text {
    clear: left;
  }
}
@media only screen and (max-width: 649px), only screen and (max-device-width: 649px) {
  .countdown.landscape .label {
    margin: 0;
  }
}
.application-status .status {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  line-height: 27px;
  color: #333;
}
.application-status p {
  font-size: 14px;
}
.application-status ol {
  padding: 0;
  font-size: 14px;
  list-style-position: inside;
  margin: 0;
}
.application-status ol li {
  padding: 4px;
}
.application-status.portrait li {
  border-top: 1px solid white;
}
.application-status.landscape h2 {
  text-shadow: none;
}
.application-status.landscape li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.application-status.landscape .status {
  width: 160px;
}
.application-status.landscape .right {
  width: 45%;
}
.application-status.landscape .right p {
  margin-top: 0;
}

@media only screen and (max-width: 649px), only screen and (max-device-width: 649px) {
  .application-status.landscape .status {
    width: auto;
  }
}
.messages .message-header {
  background-color: rgba(0, 0, 0, 0.4);
  height: 30px;
  line-height: 30px;
  padding: 0 16px;
  -webkit-border-radius: 25px 0 0 0;
  -moz-border-radius: 25px 0 0 0;
  -ms-border-radius: 25px 0 0 0;
  -o-border-radius: 25px 0 0 0;
  border-radius: 25px 0 0 0;
}
.messages .date {
  float: left;
  width: 20%;
}
.messages .message {
  float: left;
  width: 80%;
}
.messages a.message-link {
  color: #333;
  padding: 5px 16px;
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  overflow: hidden;
  line-height: 14px;
  border-bottom: 1px solid rgba(144, 0, 21, 0.3);
}
.messages a.message-link.last {
  border: 0;
}
.messages a.message-link:hover {
  background-color: white;
}
.messages a.view-all-messages {
  background-color: rgba(255, 31, 0, 0.8);
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding: 0 16px;
  color: white;
  font-size: 14px;
  display: block;
}

@media only screen and (max-width: 959px), only screen and (min-device-width: 768px) and (max-device-width: 959px) {
  .messages h2 {
    margin-bottom: 5px;
  }
  .messages .message-header {
    display: none;
  }
  .messages .date {
    width: 100%;
    font-weight: bold;
  }
  .messages .message {
    width: 100%;
  }
}
#banner {
  background: url("../images/banner.jpg") no-repeat center top;
  background-size: 100%;
  min-width: 960px;
  color: white;
  margin-top: 130px;
}
#banner .dots {
  background: transparent url('../images/dot.png') repeat;
  min-height: 150px;
  padding: 0 10px;
}

.banner-left h1 {
  margin-top: 65px;
}
.banner-left p {
  font-size: 20px;
  line-height: 26px;
  margin: 15px 0 0 0;
  width: 450px;
}
.banner-left .btn-red {
  margin-top: 20px;
  position: absolute;
  width: 221px;
}

#key-dates .ui-corner-tl {
  padding: 20px 15px 13px 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 250px;
  padding-bottom: 20px;
}
#key-dates .ui-corner-tl h2 {
  color: white;
}
#key-dates .ui-corner-tl .dates-container {
  height: 200px;
  overflow: hidden;
  margin-bottom: 5px;
}
#key-dates .ui-corner-tl .buttons {
  width: 58px;
  margin: 0 auto;
}

.application-status.portrait,
#messages {
  margin-top: 25px;
}

.banner-full h1 {
  margin-top: 40px;
  font-size: 35px;
}

@media only screen and (max-width: 959px), only screen and (min-device-width: 768px) and (max-device-width: 959px) {
  .banner-left p {
    width: 100%;
  }
}
@media only screen and (max-width: 767px), only screen and (min-device-width: 650px) and (max-device-width: 767px) {
  #banner {
    margin-top: 0;
    background: #df0019;
    min-width: 100%;
    overflow: hidden;
  }
  #banner .dots {
    padding: 10px;
  }
  #banner .dots .container {
    height: auto;
  }
  #banner .dots .container .application-status,
  #banner .dots .container .banner-left,
  #banner .dots .container #messages {
    margin: 0 0 15px 0;
  }
  #banner .dots .container .application-status {
    padding: 0;
  }
  #banner .dots .container h1 {
    margin-top: 15px;
    font-size: 30px;
  }
  #banner .dots .container .btn-red {
    position: relative;
  }
}
#header {
  overflow: hidden;
}
#header > .container::after {
  content: ' ';
  background: white url("../images/header-bg.jpg") repeat-x right top;
  position: absolute;
  width: 100%;
  height: 130px;
  margin-left: 940px;
}

#toggle-menu {
  display: none;
  position: absolute;
  right: 0px;
  padding: 0;
  margin: 5px 10px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #df0019;
}
#toggle-menu .icon-bar {
  display: block;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  background-color: #df0019;
  margin-top: 2px;
}
#toggle-menu.active {
  color: #333333;
}
#toggle-menu.active .icon-bar {
  background-color: #333333;
}

#menu {
  margin: 55px 0 0 75px;
}
#menu li {
  list-style: none;
  float: left;
}
#menu li a {
  font-size: 18px;
  font-weight: light;
  line-height: 27px;
  padding-left: 23px;
  padding-right: 23px;
  border-right: 1px solid #BBBBBB;
  display: block;
  color: #333333;
}
#menu li a:hover {
  color: #E5001D;
  text-decoration: none;
}
#menu li.last a {
  border: 0;
}
#menu li.current a {
  color: #E5001D;
}
#menu li.current::after {
  content: " ";
  display: block;
  margin: 47px auto 0 auto;
  background: url('../images/sprite.png') no-repeat -68px 0;
  width: 22px;
  height: 11px;
}
#menu.five a {
  padding-left: 17px;
  padding-right: 17px;
  text-align: center;
}
#menu.five li.last {
  max-width: 90px;
  margin-top: -10px;
}
#menu.five li.last a {
  padding-right: 0;
  line-height: 20px;
}

@media only screen and (max-width: 767px), only screen and (min-device-width: 650px) and (max-device-width: 767px) {
  #toggle-menu {
    display: block;
  }

  #menu {
    position: fixed;
    margin: 0;
    padding: 0;
    margin-top: 65px;
    left: 10000px;
    background-color: #333333;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  #menu:before {
    content: ' ';
    position: absolute;
    margin-top: -10px;
    right: 17px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #333333;
  }
  #menu li {
    float: none;
    line-height: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px 0;
    margin: 0 10px;
    font-size: 14px;
    font-weight: normal;
  }
  #menu li a {
    padding: 0;
    text-align: left;
    display: inline;
    border: 0;
    color: rgba(255, 255, 255, 0.8);
  }
  #menu li a:hover {
    text-decoration: underline;
    color: white;
  }
  #menu li.current a {
    color: white;
  }
  #menu li.current::after {
    content: none;
  }
  #menu.five a {
    padding: 0;
  }
  #menu.five li.last {
    margin: 0 10px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 649px), only screen and (max-device-width: 649px) {
  .hide-body {
    width: 100%;
    position: fixed;
  }
}
.icon-hamburger {
  width: 20px;
  height: 20px;
  float: left;
  background: url('../images/sprite.png') no-repeat 0 -163px;
}

.icon-user {
  background: #555555 url('../images/sprite.png') no-repeat 5px -67px;
  width: 17px;
  height: 17px;
  float: left;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.icon-messages {
  width: 23px;
  height: 23px;
  float: left;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-box-shadow: #666666 0 0 4px;
  -moz-box-shadow: #666666 0 0 4px;
  box-shadow: #666666 0 0 4px;
  background-color: #df0019;
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  color: white;
}

.icon-on-hold {
  width: 23px;
  height: 23px;
  float: left;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-box-shadow: #666666 0 0 4px;
  -moz-box-shadow: #666666 0 0 4px;
  box-shadow: #666666 0 0 4px;
  background: #ff8000 url('../images/sprite.png') no-repeat 6px -87px;
}

.icon-in-progress {
  width: 23px;
  height: 23px;
  float: left;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-box-shadow: #666666 0 0 4px;
  -moz-box-shadow: #666666 0 0 4px;
  box-shadow: #666666 0 0 4px;
  background: #00a3d9 url('../images/sprite.png') no-repeat 8px -114px;
}

.icon-withdrawn {
  width: 23px;
  height: 23px;
  float: left;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-box-shadow: #666666 0 0 4px;
  -moz-box-shadow: #666666 0 0 4px;
  box-shadow: #666666 0 0 4px;
  background: #df0019 url('../images/sprite.png') 7px -139px;
}

.icon-offer-received {
  width: 23px;
  height: 23px;
  float: left;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-box-shadow: #666666 0 0 4px;
  -moz-box-shadow: #666666 0 0 4px;
  box-shadow: #666666 0 0 4px;
  background: #85B200;
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  color: white;
}

.icon-arrow-right-light {
  float: left;
}

.icon-arrow-right-dark {
  float: left;
}

.icon-arrow-down {
  float: left;
}

.icon-arrow-up {
  float: left;
}

.icon-edit {
  width: 16px;
  display: block;
  height: 16px;
  float: left;
  margin-right: 3px;
  background: white url("../images/sprite.png") no-repeat 0px -190px;
}
