#sticky-bar{
    width:100%;
    background-color: #333333;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    z-index: 1000;
}
#sticky-bar a {
    font-weight: normal;
    color: #15A2ED;
    background-color: #000;
    padding: 5px 10px;
    border-radius: 5px;
}
#sticky-bar.sticky {
    position: fixed;
}
#example-overlay.sticky {
    top:0px;
}
#example-overlay {
    display: none;
    top: 20px;
    margin: 0px auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 1182px;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 1110;
}
@media only screen and (max-width: 767px), only screen and (min-device-width: 650px) and (max-device-width: 767px) {
    #sticky-bar { display: none; }
}